
@import '/src/globas.scss';



.project_section {
    margin: 10rem 2rem;

    .row {
        display: flex;

        &.row_1 {
            align-items: center;
            @media (max-width:$s) {
                flex-direction: column-reverse;
                align-items: flex-end;
            }
        }
        &.row_2 {
            align-items: flex-start;
            margin-top: 10rem;
            @media (max-width:$l) {
                margin-top: 5rem;
            }
            @media (max-width:$m) {
                margin-top: 1rem;
            }
            @media (max-width:$s) {
                flex-direction: column;
            }
        }


        .desc_col {
            flex: 5;
            @media (max-width:$l) {
                flex: 1;
            }
            & h2, & h3, & p {
                margin-bottom: 10px;
            }
            .proj_name {
                font-size: 6rem;
                color: #0000004d;
                @media (max-width:$xl) {
                    font-size: 5rem;
                }
                @media (max-width:$l) {
                    font-size: 4rem;
                }
                @media (max-width:$m) {
                    font-size: 3.2rem;
                }
                @media (max-width:$xs) {
                    font-size: 2.9rem;
                }
            }
            .proj_designation {
                font-size: 1.5rem;
            }
            .stack_btns button {
                background-color: #333;
                border: 0;
                padding: 10px 20px;
                border-radius: 20px;
                margin-right: 10px;
                margin-top: 1.5rem;
                color: #fff;
                @media (max-width:$m) {
                    padding: 5px 10px;
                    margin-top: 1rem;
                }
            }
            button:hover {
                cursor: pointer;
            }
        }
        .img_col {
            flex: 3;
            @media (max-width:$l) {
                flex: 1;
            }
            .img_shape {
                height: 20rem;
                position: absolute;
                right: 0px;
                top: -1000px;
            }
            .img_main {
                width: auto;
                height: 45rem;
                filter: grayscale(100%);
                @media (max-width:$s) {
                    height: 30rem;
                    width: auto;
                }
                @media (max-width:$xs) {
                    height: 26rem;
                }
            }
        }

        
        &:hover {
            .proj_name {
                transition: all 0.2s;
            }
            .proj_name_1 {
                color: #1083c659;
            }
            .proj_name_2 {
                color: #c6101059;
            }
            .img_main {
                filter: grayscale(0%);
                transition: all 0.2s;
            }
        }
    }
}