.hero_section {
    // margin-top: 15rem;
    // margin-left: 10rem;
    margin-bottom: 10rem;

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
        color: #666;
    }
}