@import '/src/globas.scss';



.aboutme_section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 5rem;
    .content_col {
        flex: 5;
        margin: 1rem;
    }
    .image_col {
        flex: 3;
        margin: 1rem;
        .img_shape {
            height: 15rem;
            position: absolute;
            top: -200px;
        }
        .img_main {
            height: 30rem;
            @media (max-width:$m) {
                height: 25rem;
            }
        }
    }
    @media (max-width:$xs) {
        flex-direction: column-reverse;
    }
    @media (max-width:$xl) {
        padding: 0;
    }
    @media (max-width:$l) {
    }
    @media (max-width:$m) {
    }
    @media (max-width:$s) {
    }
}