@import '/src/globas.scss';



.contact_section {
    display: flex;
    align-items: center;
    margin: 5rem 0 0 0;
    padding: 5rem;
    background-color: #ccccccd1;
    border-radius: 1rem;
    backdrop-filter: blur( 3px );
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    @media (max-width:$l) {
        padding: 4rem;
    }
    @media (max-width:$m) {
        padding: 3rem;
    }
    @media (max-width:$s) {
        padding: 2rem;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
    }
   
    .heading {
        text-shadow: 2px 2px #aaa;
    }
    .img_shape {
        height: 25rem;
        position: absolute;
        left: -100px;
        top: -200px;
        @media (max-width:$s) {
            height: 25rem;
            position: absolute;
            right: 1000px;
            top: -200px;
        }
    }
    .content_col {
        flex: 2;
        margin-right: 1rem;
        @media (max-width:$s) {
            margin-left: 0;
        }
        .social_icons {
            margin-top: 5rem;
            @media (max-width:$s) {
                margin-top: 0;
            }
            & > * {
                font-size: 2.5rem;
                margin: 10px;
                color: #000;
                &:hover {
                    color: #333;
                    cursor: pointer;
                }
                @media (max-width:$s) {
                    font-size: 2rem;
                }
            }
        }
    }
    .form_col {
        flex: 3;
        margin-left: 1rem;
        @media (max-width:$s) {
            margin-left: 0;
            margin-top: 3rem;
        }

        input, textarea {
            width: 96%;
            padding: 10px;
            margin: 5px;
            border-radius: 10px;
            border: 1px #aaa solid;
            font-size: 1rem;
            font-family: 'Montserrat', sans-serif;
            &:focus {
                outline: none;
            }
            @media (max-width:$s) {
                font-size: 0.8rem;
            }
        }

        button {
            margin: 10px 5px;     
            background-color: #111827;
            border: 1px solid transparent;
            border-radius: 10px;
            color: #FFFFFF;
            font-size: 1.125rem;
            padding: 0.75rem 1.2rem;
            transition: all 0.2s cubic-bezier(.4, 0, 0.2, 1);
            width: 100%;
            &:hover {
                background-color: #374151;
                cursor: pointer;
            }
            &:focus {
                box-shadow: none;
                outline: 2px solid transparent;
                outline-offset: 2px;
            }
            &:disabled {
                border: 2px solid #aaa;
                background-color: #bbb;
                color: #333;
            }
            @media (max-width:$s) {
                font-size: 1rem;
            }
        }
    }
}



@media (max-width:$s) {
}
@media (max-width:$xs) {
}