@import '/src/globas.scss';



.menu {
    position: absolute;
    top: -4rem;
    right: -4rem;
    text-align: right;

    @media (max-width:$s) {
        top: -5rem;
        right: -3rem;
    }
    @media (max-width:$xs) {
        display: none;
    }

    .item-wrapper{
        position:relative;
    
        &:hover:before{
            content:"";
            z-index:-1;
            left:-0.5em;
            top:-0.1em;
            border-width:2px;
            border-style:solid;
            border-color:#333;
            position:absolute;
            border-right-color:transparent;
            width:100%;
            height:1em;
            transform:rotate(2deg);
            opacity:0.7;
            border-radius:50%;
            padding:0.1em 0.25em;
        }
    
        &:hover:after{
            content:"";
            z-index:-1;
            left:-0.5em;
            top:0.1em;
            padding:0.1em 0.25em;
            border-width:2px;
            border-style:solid;
            border-color:#333;
            border-left-color:transparent;
            border-top-color:transparent;
            position:absolute;
            width:100%;
            height:1em;
            transform:rotate(-1deg);
            opacity:0.7;
            border-radius:50%;
        }

        .item {
            position: relative;
            margin: 20px;
            cursor: pointer;
            font-weight: 500;
            color: #333;
            text-decoration: none;
            @media (max-width:$s) {
                margin: 15px;
            }
        }
    }
    
}




