$breakpoint-phone: 320px;
$breakpoint-iPads: 480px;
$breakpoint-small: 768px;
$breakpoint-large: 1024px;
$breakpoint-tv: 1200px;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');
@import "/src/breakpoints.scss";



// removing default styling
*, body {
    margin: 0;
    padding: 0;
}



// background
body {
    font-family: 'Montserrat', sans-serif;
    margin: 5rem;
    width: calc(100% - 10rem);
    height: calc(100% - 10rem);
    background-image: url(./Images/bg_img.jpg);   
    background-size: 125px 125px;
    background-repeat: round;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
}



// scroll styling
html {
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    width: 10px;
    background-color: #acacac;
    border: 1px #acacac solid;
    
}
body::-webkit-scrollbar-thumb {
    background-color: #1f1f1f;
    border-radius: 1rem;
}



// classes
.heading {
    font-size: 3rem;
    margin-bottom: 10px;
}
.para {
    margin-bottom: 10px;
    font-size: 1.3rem;
}